:root{
    --bg:#f0f02f5;
    --blue:#1877f2;
    --dark-blue:#1360c4;
    --white:#FFF;
    --green:#42b72a;
    --dark-green:#3694423
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
bady{
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg);
    font-family: Helvetica, sans-serif;
}
.main-wrapper{
    width: 400px;
    height: 680px;
    margin: auto;
    margin-top: 40px;
}
.branding{
    text-align: center;
}
.logo{
    color: blue;
    font-size: 3.7rem;

}
.slogan{
    font-size: 1.5rem;
    font-weight: ;
}
.panel{
    background-color:var(--white);
    width: 400px;
    padding: 15px;
    margin: 20px 0;
    border-radius: 6px;
    box-shadow: 0 3px 5px 2px rgb(150,150, 150, 0.2 );
    text-align: center;
}
input{
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border-radius: 6px;
}
input::placeholder{
    font-size: 1.0rem;
}
input:focus{
    outline: 1px solid var(--blau)
}
input:focus::placeholder{
    color: #c2c2c2;
}
.log-in-button{
    background-color: var(--blau);
    color: var(--white);
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 10px;
    
    
    
}
.log-in-button:hover{
    background-color: var(--dark-blue);
    cursor: pointer;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.forgot{
    font-size: 0.9rem;
    color:var(--blau);
}
hr{
    margin: 18px;
    opacity: 0.3;
    }
    .register-button{
        background-color:var(--green) ;
        color: var(--white);
        display: inline-block;
        padding: 15px;
        margin: 10px 0;
        border-radius: 6px;
        font-weight: bolder;
        transition-property: background-color;
        transition-duration: 100ms;
        transition-timing-function: ease-in-out;
    }

    .register-button:hover{
        text-decoration: none;
        background-color: var(--dark-green);   
    }
    .bottom-link{
        display: flex;
        justify-content: center;
        gap: 5px;
        font-size: 00.9rem;
    }
    .page{
        color: #0000;
    }